
@{
    ViewBag.Title = "Ofertas de Empleo";
}
<div class="container-fluid cero-padding">
    <!--Filtro-->
   <div class="col-xs-12 col-sm-3 cero-padding"> 
       @Html.Partial("_FiltroOfertas")
   </div>
    <!--Cuerpo-->
    <div class="col-xs-12 col-sm-8 sp"></div>
</div>



