<div class="container-fluid banner">
    <div class="row">
        <div class="col-sm-12 col-md-6 banner-left">
            <img src="~/Content/images/banner/buscartrabajo.jpg" alt="Ofertas de trabajo" title="Ofertas de trabajo" />
        </div>
        <div class="col-sm-12 col-md-6 banner-right">
            <h2>Vestibulum elementum arcu</h2>
            <div class="subTitle">
                <p>Integer a congue nibh</p>
                <p>Pellentesque </p>
            </div>
            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Fusce nisi enim, vulputate at justo tristique, tempor sagittis dolor. 
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Donec sit amet ligula.
                </p>
            </div>
            <div class="iconos">
                <div class="col-sm-4">
                    <i class="fa fa-cogs fa-4x"></i>
                    <p>Aenean in</p>
                </div>
                <div class="col-sm-4">
                    <i class="fa fa-area-chart fa-4x"></i>
                    <p>Ullamcor sed</p>
                </div>
                <div class="col-sm-4">
                    <i class="fa fa-newspaper-o fa-4x"></i>
                    <p>In faucibus</p>
                </div>
            </div>
        </div>
    </div>
</div>