@{
    ViewBag.Title = "Inicio";
}

@Html.Partial("_Carrusel")

<div class="page-contentido">
    <div class="jumbotron">
        <h1>ASP.NET <span>MVC</span></h1>
        <p class="lead">Visita la lista de Ofertas de empleo disponibles</p>
        <p><a href="~/admin/login" class="btn btn-primary btn-lg">Ver Ofertas &raquo;</a></p>
    </div>
</div>

<div class="container">
    <h2 class="page-header">Ultimas <span>Ofertas</span></h2>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img data-src="..." alt="...">
                <div class="caption">
                    <h3>Título de la imagen</h3>
                    <p>...</p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">Botón</a>
                        <a href="#" class="btn btn-default" role="button">Botón</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img data-src="..." alt="...">
                <div class="caption">
                    <h3>Título de la imagen</h3>
                    <p>...</p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">Botón</a>
                        <a href="#" class="btn btn-default" role="button">Botón</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img data-src="..." alt="...">
                <div class="caption">
                    <h3>Título de la imagen</h3>
                    <p>...</p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">Botón</a>
                        <a href="#" class="btn btn-default" role="button">Botón</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

