@model List<Models.Idioma>


@if (Model.Count() > 0)
{
    <h2 class="titulos titulo-Lila">
        <i class="fa fa-language pull-right"></i>
        Idiomas
    </h2>

    foreach (var item in Model)
    {
        <div class="lista well well-sm">
           <div class="row">
               <div class="col-xs-12 col-sm-3 cabecera-idioma">
                   @item.Idiomas.Descripcion
               </div>
               <div class="col-xs-6 col-sm-4" style="margin-top: 5px;">
                   <span class="idioma-titulo">Hablado </span> <span class="idioma-nivel">@item.Hablado</span>
               </div>
               <div class="col-xs-6 col-sm-4" style="margin-top: 5px;">
                   <span class="idioma-titulo">Escrito </span> <span class="idioma-nivel">@item.Escrito</span>
               </div>
           </div>
        </div>
    }

}
