
<div class="container-fluid">
    <div class="navbar-header">
        <i class="fa fa-tachometer"> </i> Panel de Control V.1
    </div>  
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown messages-menu">
            <!-- Alertas -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o" style="font-size: 1.2em;"></i>
              <span id="alertaMensajes" class="label label-danger"></span>
            </a>
            <ul class="dropdown-menu">
              <li id="alertaTexto" class="header"></li>
            </ul>
        </li>
        <!--MINI MENU-->   
        <li class="dropdown">
            <a id="yo" href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"> </i> Mi Cuenta
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <div class="navbar-content">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="http://placehold.it/120x120"
                                     alt="Alternate Text" class="img-responsive" />
                                <p class="text-center small">
                                    <a href="#">Change Photo</a>
                                </p>
                            </div>
                            <div class="col-md-7">
                                <span>Bhaumik Patel</span>
                                <p class="text-muted small">
                                    mail@gmail.com
                                </p>
                                <div class="divider">
                                </div>
                                <a href="#" class="btn btn-primary btn-sm active">Ver Perfil</a>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-footer">
                        <div class="navbar-footer-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-success btn-sm">Cambiar Passowrd</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="http://www.jquery2dotnet.com" class="btn btn-danger btn-sm pull-right">Cerrar Sesion</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <!--fin MENU-->
    </ul>
</div>