<div id="usuario">
    <div class="usuario-container-fixed">
        <div class="usuario-container">
            <h1>Eduardo Rodriguez Patiño</h1>
            <img class="foto" src="~/uploads/yo.jpg" title="Eduardo Rodriguez" />
            <span class="texto">Teléfono</span>
            <span class="campo">+51-999-9999</span>
            <span class="texto">Email</span>
            <span class="campo"><a>erodriguez@anexsoft.com</a></span>
            <span class="texto">Dirección</span>
            <span class="campo">Av. Los Informáticos 105<br />Lima / Perú</span>
        </div>
    </div>
</div>