@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('../font-awesome.min.css');
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.page-contentido{width:100%;}
.jumbotron{padding: 50px;}
.jumbotron h1, .container h2 {font-family: 'Patua One', cursive;}
.jumbotron h1 > span, .container h2 span{color:gray;}
.jumbotron h1, .jumbotron p{text-align:center !important;}

/* Mensajes*/
#mensaje{
    position: fixed;
    width: 50%;
    top: 60px;
    z-index: 9999;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}
#mensaje .alert{
    margin-bottom:0;
}

/* Modal*/
.modal-body{background-color: #efefef;}
.modal-content{
    width: 70%;
    margin: 0 auto;
}
/*NavBar*/
.navbar-inverse{
    background-color:#d1d1d1 !important;
    border-color:transparent;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #505050;
}

/*Carrusel*/
.carousel-caption h3{
    font-size: 34px;
    font-weight:bold;
}
.carousel-caption{
    text-align:left;
    top:20px;
}
.carousel-caption p {
    line-height: 10px;
    font-size: 20px;
    font-style: italic;
}

/*Ultimas Ofertas*/
#ultimasOfertas img{
    max-width: 50%;
    height: 100px;
}
#ultimasOfertas .titulo{
    color:#adadad;
    font-weight:bold;
    line-height: 0;
}
#ultimasOfertas .caption span{
    position: relative;
    float: left;
     color:#7b7b7b;
}
@media screen and (max-width:657px)
{
    .carousel-caption p{display:none;}
    .carousel-caption h2 {
        font-size:20px;
    }
    .carousel-caption{margin-top:-45px;}
}

