
<ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li class="active">Libros</li>
</ol>

<ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Libros</a></li>
    <li class="active">Bootstrap 3</li>
</ol>
