<!DOCTYPE html>
<html lang="es">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link href="~/Content/Tema-perfil/perfil.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
</head>
<body>

    <div id="perfil-container">
        @Html.Partial("~/views/shared/perfil/_DatosPersonales.cshtml")
        <div id="contenido">
            @Html.Partial("~/views/shared/perfil/_MenuContacto.cshtml")
            <div class="cuerpo-container cuerpo-fluid">

                @RenderBody()

                <footer id="footer">
                    2017 -2018 &nbsp; &nbsp;  Proyecto Fin Curso - Ramon Zaragoza
                </footer>

            </div>
        </div>
    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
